<div class="wishItem w-100 p-2 border-top">
    <div class="d-flex flex-row">
        <a href="/products/${item_category}/${item-url}" target="_blank">
            <img src="${item-img}" style="width: 70px; height: 70px; object-fit: cover; margin-right: 10px;">
        </a>

        <div class="w-100 d-flex flex-column" style="font-size: 14px; padding-right: 10px; padding-left: 5px; height:85px; line-height: 1.2;">
            
            <a href="/products/${item_category}/${item-url}" target="_blank"><div class="wishItem-title">${item-title}</div></a>

            <div class="d-flex flex-row mt-auto">
                <div class="ms-auto" style="margin-right: -25px;">${item-price} ₽</div>
            </div>

        </div>

        <div class="wishItem-close-button" item_id="${item_id}" title="Удалить из избранного">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F00" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
        </div>
    </div>
</div>